---
import { string } from "astro:schema"

// creo un formulario para los datos de envío para poder reutilizarlo en finalizar pedido.astro
export interface Props{
    nombre: string;
    input1: string;
    input2: string;
    input3?: string; // puede ser opcional
}
const {nombre, input1, input2, input3} = Astro.props;
---
<main>
    <section class="final-item">
    <h2 aria-label="{nombre}">{nombre}</h2>
    <form>
        <label for="envio-direccion">{input1}</label>
        <input id="envio-direccion" type="text" class="formulary-input" aria-label="{input1}" aria-required="true"/>

        <label for="envio-cp">{input2}</label>
        <input id="envio-cp" type="text" class="formulary-input" aria-label="{input2}" aria-required="true"/>

        {input3 && (
        <>
        <label for="envio-ciudad" aria-label="{input3}" aria-required="true">{input3}</label>
        <input id="envio-ciudad" type="text" class="formulary-input" aria-label="{input3}" aria-required="true"/>
        </>
        )}
        <button class="formulary-button" role="button" aria-label="Enviar formulario">Enviar</button>
    </form>
    </section>

    <style lang="scss">
        @use '../styles/variables' as *;
        @use '../styles/mixins' as *;
        @use '../styles/components/inputs.scss' as *;
        @use '../styles/components/buttons.scss' as *;
        @use '../styles/components/titles.scss' as *;
        @use '../styles/components/containers.scss' as *;

        .final-item{
            background: $color-transition-carrito;
            h2{
                text-align: center;
                margin-bottom: $spacing-md;
            }

        }
        form{
            display: flex;
            flex-direction: column;
            gap: $spacing-md;
            width: 300px;
            margin: 0 auto 2rem auto;
        }

    </style>