---
export interface Props {
    producto: string;
    descripcion: string;
    precio: string;
}
const { producto, descripcion, precio } = Astro.props;
---  
<div class="carrito-item" aria-label="Producto en el carrito">
    <article class="producto">
        <h3 class="title-medium" aria-label="{producto}">{producto}</h3>
        <p class="descripcion" aria-label="{descripcion}">{descripcion}</p>
        <p class="precio" aria-label="{precio}">{precio}</p>
        <button class="delete-button" role="button" aria-label="Eliminar producto">Eliminar producto</button>
    </article>
    </div>

    <style lang="scss">
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;
    @use '../styles/components/buttons.scss' as *;
    @use '../styles/components/titles.scss' as *;
    @use '../styles/components/containers.scss' as *;
    



    </style>
    